/* Inports Font!!!! */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #181C14;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100vh;
	font-family: "Poppins", sans-serif;
	color: #ECDFCC;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0;
	overflow: hidden;
}

h1 {
	font-weight: normal;
	font-size: 60px;
	margin: -150px 0 40px;
}

p {
	font-weight: normal;
	font-size: 26px;
}

.Celebrate {
	color: #ECDFCC;
	font-size: larger;
	font-family: "Poppins", sans-serif;
	background-color: #181C14;
	border-radius: 8px;
}

.input {
	color: #ECDFCC;
	font-size: larger;
	font-family: "Poppins", sans-serif;
	background-color: #181C14;
	border-radius: 8px;
}





.settings {
	color: #ECDFCC;
	font-size: larger;
	font-family: "Poppins", sans-serif;
	background-color: #181C14;
	border-radius: 8px;
}

#section {
	opacity: 0;
  }
  
  .settings {
	opacity: 1!important;
	background-color: #181C14;
	  }

  .Themes {
	color: #ECDFCC;
	padding: 14px 30px;
	font-size: large;
	font-family: "Poppins", sans-serif;
	background-color: #181C14;
	border-radius: 8px;
	}


